<tr class="d-flex">
  <td class="col-8">
    <div class="text-size-6">{{item.categoryDescription}}</div>
  </td>
  <td class="col-1 text-center">
    <div class="text-size-6">{{item.easyDifficulty}}</div>
  </td>
  <td class="col-1  text-center">
    <div class="text-size-6">{{item.mediumDifficulty}}</div>
  </td>
  <td class="col-1  text-center">
    <div class="text-size-6">{{item.hardDifficulty}}</div>
  </td>
  <td class="col-1 text-center">
    <div class="text-size-6">{{item.totalQuestions}}</div>
  </td>
</tr>
