<div class="container-fluid border rounded" name="container2">
  <div class="row">
    <div class="col col-sm-2 mh-100">

    </div>
    <div class="col col-sm-8 mh-100">
      <div class="card bg-secondary border-info">
        <h2 class="text-center">Answer</h2>
      </div>
      <h4 *ngIf="!loaded">Loading Answer...</h4>
      <div *ngIf="loaded">

        <div class="card border-info">

          <form class="form-inline my-2 my-lg-0 justify-content-right">
            <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
                   (ngModelChange)="searchAnswer(searchInput.value)"
                   type="search" placeholder="Search Answer...">
          </form>

        </div>

        <div class="card border-info">
          <div class="card-body table-responsive">
            <table class="table-sm table-bordered table-hover rounded">
              <thead>
              <tr>

                <th>
                  <text class="text-size-10">Answer</text>
                </th>

                <th *ngIf="isAdmin">
                  <text class="text-size-8">Edit Item</text>
                </th>
                <th *ngIf="isSuper">
                  <text class="text-size-8">Delete Item</text>
                </th>
              </tr>
              </thead>
              <tbody *ngFor="let dto of answerlist | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
              <tr class="a">
                <td [hidden]="alwaysHidden">{{ i + 1 }}</td>

                <td>
                  <text class="text-size-6">{{dto.answerTxt}}</text>
                </td>

                <td *ngIf="isAdmin">
                  <button class="btn-edit" type="submit" [disabled]="addMode || editMode"
                          (click)="editItem(i + (p-1)*itemsPerPage)">
                    <span class="fas fa-edit" style="color:red"></span>
                  </button>
                </td>
                <td *ngIf="isSuper">
                  <button class="btn-edit" type="submit" [disabled]="addMode || editMode"
                          (click)="deleteItem(i + (p-1)*itemsPerPage)">
                    <span class="fas fa-trash" style="color:blue"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <div class="card pagin">
              <div class="card-body" *ngIf="!paginationDisabled">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isAdmin" class="card">
        <button *ngIf="!editMode && !addMode" (click)="initiateAdd()"
                class="btn btn-sm btn-block btn-primary text-white m-3 p-3 ">{{this.addbarmsg}}</button>
        <div class="card card-body m-3" *ngIf="showAnswerForm">
          <h2>{{this.formmsg}}</h2>
          <form (submit)="onSubmit($event)" #Answer="ngForm">
            <div class="form-group">
              <label>answerTxt</label>
              <input type="text" class="form-control" [(ngModel)]="answer.answerTxt" name="answerTxt"
                     #answerTxt="ngModel"
                     maxlength=2048
              >
              <label>evntTmestmp</label>
              <input type="date" class="form-control" [(ngModel)]="answer.evntTmestmp" name="evntTmestmp"
                     #evntTmestmp="ngModel"
              >
              <label>evntOperId</label>
              <input type="text" class="form-control" [(ngModel)]="answer.evntOperId" name="evntOperId"
                     #evntOperId="ngModel"
                     maxlength=10
              >
            </div>
            <button *ngIf="addMode || editMode" [disabled]="Answer.invalid" (click)="saveResults()"
                    class="btn btn-sm btn-block btn-success text-white m-3 p-3 ">{{this.saveChangesMsg}}</button>
            <button *ngIf="addMode || editMode" (click)="reload()"
                    class="btn btn-sm btn-block btn-danger text-white m-3 p-3">{{this.cancelMsg}}</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-sm-2 mh-100">

    </div>
  </div>
  <div class="row">
  </div>
</div>
