<header-nav></header-nav>

<div class="container">
  <div class="row pt-4 pb-2">
    <div class="col d-none d-md-block mb-2">
      <h1>User Management Portal</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6">
      <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)" class="mb-4">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text"><i class="far fa-user"></i></span>
            </div>
            <input type="text" class="form-control" name="firstName" placeholder="First name" required ngModel #firstNameInput="ngModel">          
          </div>
          <span class="help-block" *ngIf="firstNameInput.invalid && firstNameInput.touched">Please enter a first name</span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text"><i class="far fa-user"></i></span>
            </div>
            <input type="text" class="form-control" name="lastName" placeholder="Last name" required ngModel #lastNameInput="ngModel">
          </div>
          <span class="help-block" *ngIf="lastNameInput.invalid && lastNameInput.touched">Please enter a last name</span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text"><i class="far fa-id-card"></i></span>
            </div>
            <input type="text" class="form-control" name="userName" placeholder="Username" required ngModel #usernameInput="ngModel">
          </div>
          <span class="help-block" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter a username</span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text"><i class="far fa-envelope"></i></span>
            </div>
            <input type="text" class="form-control" name="emailAddr" placeholder="Email" required ngModel #emailInput="ngModel">
          </div>
          <span class="help-block" *ngIf="emailInput.invalid && emailInput.touched">Please enter an email.</span>
        </div>
        <button [disabled]="registerForm.invalid || showLoading" type="submit" name="button" class="btn btn-primary">
          <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
          <span *ngIf="showLoading">Loading...</span>
          <span *ngIf="!showLoading">Register</span>
        </button>
      </form>
      <div class="text-center">
        Already have an account? <a routerLink="/login" class="ml-2">Log In</a>
      </div>
    </div>
  </div>
</div>