<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Home</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a routerLink="/interviewuser" class="nav-link">InterviewUser</a>
			</li>
			<li class="nav-item">
				<a routerLink="/questioncategory" class="nav-link">QuestionCategory</a>
			</li>
			<li class="nav-item">
				<a routerLink="/questionlevel" class="nav-link">QuestionLevel</a>
			</li>
			<li class="nav-item">
				<a routerLink="/answer" class="nav-link">Answer</a>
			</li>
			<li class="nav-item">
				<a routerLink="/question" class="nav-link">Question</a>
			</li>
        </ul>
    </div>
  </div>
</nav>