<nav class="navbar navbar-expand-sm navbar-dark bg-primary pt-4">
  <a href="/" class="navbar-brand text-white d-none d-md-block">Interview Question Generator</a>
  <a href="/" class="navbar-brand text-white d-md-none">IQG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayMainPage(); false">Return to Main Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayLogin(); false">Log In</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-6">
        <div *ngIf="showErrorMsg" class="card m-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h6 class="mb-0">{{errorMsg}}</h6>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showSuccessMessage" class="card m-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <h6 class="mb-0">{{successMsg}}</h6>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showResetForm" class="card m-3">
          <form class="form" #passwordForm="ngForm"
                (ngSubmit)="onSubmitPasswordChange(passwordForm.value)" >
            <div class="card-body">
              <div class="form-group row">
                <div class="col-sm-6">
                  <h6 class="mb-0">new password</h6>
                </div>
                <input type="password" class="form-control" name="password" placeholder="" parent="true"
                       ngModel [(ngModel)]="resetForm.password"
                       #password="ngModel" required>
                <span class="help-block" style="color:red;"
                      *ngIf="password.invalid && password.touched">Please enter a new password</span>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <h6 class="mb-0">repeat new password</h6>
                </div>
                <input type="text" class="form-control" name="passwordConfirm" placeholder=""
                       ngModel
                       confirmEqualValidator="password"
                       #passwordConfirm="ngModel" required>
                <span class="help-block" style="color:red;"
                      *ngIf="passwordConfirm.errors?.required && passwordConfirm.touched">Please enter a value</span>
                <span class="help-block" style="color:red;"
                      *ngIf="passwordConfirm.value != '' && passwordConfirm.errors?.compare">passwords do not match</span>
              </div>
              <hr>
            </div>
            <button type="submit" [disabled]="passwordForm.invalid"
                    class="btn btn-sm btn-success text-white m-3 p-3 ">Save Changes
              <text *ngIf="showLoading" class="fas fa-spinner fa-spin"></text>&nbsp;&nbsp;
              <span *ngIf="showLoading">Loading...</span>
            </button>
          </form>
        </div>
        <div *ngIf="showLogin" class="card m-3">
          <div class="text-center">
            <a routerLink="/login" class="ml-2">Go to the Log In page...</a>
          </div>
        </div>
        <div *ngIf="showResendBtn" class="card m-3">
          <div class="text-center">
            <button (click)="resendPassword()" class="btn btn-primary border-dark mb-3">Reset Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
