<header-nav></header-nav>
<div class="container-fluid border rounded">
  <div class="row">
    <div class="col col-3">
      <div class="card border-info">
        <h2 class="card-header text-center bg-secondary">Filter</h2>
        <div class="card-body p-1">
          <form (submit)="onSubmit($event)" #Filter="ngForm">
            <div class="form-group">
              <label for="category">Category:</label>
                <select id="category" class="form-control border-info text-center" [disabled]="addMode || editMode"
                        [(ngModel)]="filterCategoryValue"
                        required
                        name="questionCategoryId_dropdown">
                  <option *ngFor="let option of questioncategorylist" [value]="option.value">
                    {{ option.viewValue }}
                  </option>
                </select>
              <label for="level">Difficulty:</label>
                <select id="level" class="form-control border-info text-center" [disabled]="addMode || editMode"
                        [(ngModel)]="filterDifficultyValue"
                        required
                        name="questionLevelId_dropdown">
                  <option *ngFor="let option of questionlevellist" [value]="option.value">
                    {{ option.viewValue }}
                  </option>
                </select>
            </div>
            <button (click)="filter()"
                    [disabled]="addMode || editMode"
                    class="btn btn-sm btn-primary text-white m-3 p-3">{{this.filterMsg}}</button>
            <button (click)="resetFullList()"
                    [disabled]="addMode || editMode"
                    class="btn btn-sm btn-primary text-white m-3 p-3 ">{{this.resetToAllMsg}}</button>
          </form>
        </div>
        <div class="card-footer bg-white">
          <h3 class="text-center">Total Questions</h3>
          <h3 class="text-center">{{this.totalQuestions}}</h3>
        </div>
      </div>
    </div>
    <div class="col col-9">
      <div class="card bg-secondary border-info">
        <h2 class="text-center">Questions and Answers</h2>
      </div>
      <h4 *ngIf="!loaded">Loading Question...</h4>
      <div *ngIf="loaded">
        <!--<div class="row">--> <!-- m-3 float-right -->
        <div class="card border-info">

          <form class="form-inline my-2 my-lg-0 justify-content-right">
            <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
                   (ngModelChange)="searchQuestion(searchInput.value)"
                   type="search" placeholder="Search Q & A ...">
          </form>

        </div>
        <!--</div>-->
        <div class="card border-info"> <!-- table section -->
          <div class="card-body table-responsive">
            <table class="table-sm table-bordered table-hover rounded" style="border-spacing: 5px;">
              <thead>
              <tr>
                <th class="d-md-table-cell " >
                  <text class="text-size-10 m-3" style="width: 40%;">Question</text>
                </th>
                <th class="d-md-table-cell ">
                  <text class="text-size-10 m-3" style="width: 40%;">Answer</text>
                </th>
                <th class="d-md-table-cell " *ngIf="isAdmin">
                  <text class="text-size-8 m-3"style="width: 10%;">Edit Item</text>
                </th>
                <th class="d-md-table-cell " *ngIf="isSuper">
                  <text class="text-size-8 m-3" style="width: 10%;">Delete Item</text>
                </th>
              </tr>
              </thead>
              <tbody *ngFor="let dto of questionItemlist | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
              <tr class="a">
                <td [hidden]="alwaysHidden">{{ i + 1 }}</td>
                <td class="d-md-table-cell " >
                  <text class="text-size-6 m-3" style="width: 40%;">{{dto.questionTxt}}</text>
                </td>
                <td class="d-md-table-cell " >
                  <text class="text-size-6 m-3" style="width: 40%;">{{dto.answerTxt}}</text>
                </td>
                <td class="d-md-table-cell " *ngIf="isAdmin">
                  <button class="btn-edit" type="submit" [disabled]="addMode || editMode"
                          (click)="editItem(i + (p-1)*itemsPerPage)">
                    <span class="fa fa-edit" style="color:red"></span>
                  </button>
                </td>
                <td class="d-md-table-cell " *ngIf="isSuper">
                  <button class="btn-edit" type="submit" [disabled]="addMode || editMode"
                          (click)="deleteItem(i + (p-1)*itemsPerPage)">
                    <span class="fa fa-trash" style="color:blue"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <!-- https://www.npmjs.com/package/ngx-pagination -->
            <div class="card pagin">
              <div class="card-body" *ngIf="!paginationDisabled">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isAdmin">
        <button *ngIf="!editMode && !addMode" (click)="initiateAdd()"
                class="btn btn-sm btn-primary text-white m-3 p-3 ">{{this.addbarmsg}}</button>
        <div class="card card-body m-3" *ngIf="showQuestionForm">
          <h2>{{this.formmsg}}</h2>
          <form (submit)="onSubmit($event)" #Question="ngForm">
            <div class="form-group">
              <label>Category:</label>
              <div class="col col-sm-4">
                <select class="form-control border-info text-center"
                        [(ngModel)]="questionItem.questionCategoryId"
                        required
                        name="questionCategoryId_dropdown">
                  <option *ngFor="let option of questioncategorylist" [value]="option.value">
                    {{ option.viewValue }}
                  </option>
                </select>
              </div>
              <label>Difficulty:</label>
              <div class="col col-sm-4">
                <select class="form-control border-info text-center"
                        [(ngModel)]="questionItem.questionLevelId"
                        required
                        name="questionLevelId_dropdown">
                  <option *ngFor="let option of questionlevellist" [value]="option.value">
                    {{ option.viewValue }}
                  </option>
                </select>
              </div>
              <label>Question:</label>
              <input type="text" class="form-control" [(ngModel)]="questionItem.questionTxt" name="questionTxt"
                     #questionTxt="ngModel"
                     maxlength=256 >
              <div class="col col-sm-4">
                <label>Answer:</label>
                <textarea rows="10" class="form-control" [(ngModel)]="questionItem.answerTxt" name="answerTxt"
                       #answerTxt="ngModel"
                          maxlength=256 ></textarea>
              </div>
            </div>
            <button *ngIf="addMode || editMode" [disabled]="Question.invalid" (click)="saveResults()"
                    class="btn btn-sm btn-success text-white m-3 p-3 ">{{this.saveChangesMsg}}</button>
            <button *ngIf="addMode || editMode" (click)="reload()"
                    class="btn btn-sm btn-danger text-white m-3 p-3 ">{{this.cancelMsg}}</button>
          </form>
        </div>
      </div>
    </div>
    <!--<div class="col col-sm-2 mh-100">

    </div>-->
  </div>
</div>
