<nav class="navbar navbar-expand-sm navbar-dark bg-primary pt-4">
  <a href="/" class="navbar-brand text-white d-none d-md-block">Interview Question Generator</a>
  <a href="/" class="navbar-brand text-white d-md-none">IQG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayLogin(); false">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row pt-4 pb-2">
    <div class="col d-none d-md-block mb-2">
      <h1 class="text-center">A confirmation email has been sent to : {{email}}</h1>
    </div>
  </div>
  <div class="row pt-4 pb-2">
    <div class="text-center">
      Click here to login! <a routerLink="/login" class="ml-2">Log In</a>
    </div>
  </div>
</div>
