<div class="row">
  <div class="col col-sm-12 mh-100">
    <div class="card bg-secondary border-info">
      <h2 class="text-center">Customers & Administrators</h2>
    </div>
    <h4 *ngIf="!loaded">Loading Customers & Administrators...</h4>
    <div *ngIf="loaded">
      <div class="card border-info">
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary pt-4">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item m-2">
                <a class="nav-link" href="#" (click)="showAllUsers(); false">ALL</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="#" (click)="showOnlyUsers(); false">Users</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="#" (click)="showOnlyAdmins(); false">Admins</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="#" (click)="showBasicUsers(); false">Basic</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="#" (click)="showAdvUsers(); false">Adv</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="#" (click)="showPremiumUsers(); false">Prem</a>
              </li>
            </ul>
          </div>
        </nav>
        <form class="form-inline my-2 my-lg-0 justify-content-right">
          <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
                 (ngModelChange)="searchInterviewUser(searchInput.value)"
                 type="search" placeholder="Search InterviewUser...">
        </form>
      </div>
      <div class="card border-info"> <!-- table section -->
        <div class="card-body table-responsive">
          <table class="table-sm table-bordered table-hover rounded">
            <thead>
            <tr>
              <th>
                <text class="text-size-10">first name</text>
              </th>
              <th>
                <text class="text-size-10">last name</text>
              </th>
              <th>
                <text class="text-size-10">email</text>
              </th>
              <th>
                <text class="text-size-10">username</text>
              </th>
              <th>
                <text class="text-size-10">user ID</text>
              </th>
              <th>
                <text class="text-size-10">roles</text>
              </th>
              <th>
                <text class="text-size-10">active?</text>
              </th>
              <th>
                <text class="text-size-10">unlocked?</text>
              </th>
              <th>
                <text class="text-size-8">Edit Item</text>
              </th>
              <th>
                <text class="text-size-8">Delete Item</text>
              </th>
            </tr>
            </thead>
            <tbody
              *ngFor="let dto of interviewuserlist | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <tr class="a">
              <td [hidden]="alwaysHidden">{{ i + 1 }}</td>
              <td>
                <text class="text-size-6">{{dto.firstName}}</text>
              </td>
              <td>
                <text class="text-size-6">{{dto.lastName}}</text>
              </td>
              <td>
                <text class="text-size-6">{{dto.emailAddr}}</text>
              </td>
              <td>
                <text class="text-size-6">{{dto.userName}}</text>
              </td>
              <td>
                <text class="text-size-6">{{dto.userIdentifier}}</text>
              </td>
              <td>
                <text class="text-size-6">{{dto.roles}}</text>
              </td>
              <td>
                <text class="text-size-6">{{dto.userActive}}</text>
              </td>
              <td>
                <text class="text-size-6">{{dto.userNotLocked}}</text>
              </td>
              <td>
                <button class="btn-edit" type="submit" [disabled]="addMode || editMode"
                        (click)="editItem(i + (p-1)*itemsPerPage)">
                  <span class="fas fa-edit" style="color:red"></span>
                </button>
              </td>
              <td>
                <button class="btn-edit" type="submit" [disabled]="addMode || editMode"
                        (click)="deleteItem(i + (p-1)*itemsPerPage)">
                  <span class="fas fa-trash" style="color:blue"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <!-- https://www.npmjs.com/package/ngx-pagination -->
          <div class="card pagin">
            <div class="card-body" *ngIf="!paginationDisabled">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button *ngIf="!editMode && !addMode" (click)="initiateAdd()"
              class="btn btn-sm btn-primary text-white m-3 p-3 ">{{this.addbarmsg}}</button>
      <div class="card card-body m-3" *ngIf="showInterviewUserForm">
        <h2>{{this.formmsg}}</h2>
        <form (submit)="onSubmit($event)" #InterviewUser="ngForm">
          <div class="form-group">
            <label>roles</label>
            <select class="form-control" [(ngModel)]="interviewuser.roles" name="roles" #roles="ngModel" required>
              <option value="ROLE_BASIC_USER">USER</option>
              <option value="ROLE_ADV_USER">ADV_USER</option>
              <option value="ROLE_PREMIUM_USER">PREMIUM_USER</option>
              <option value="ROLE_ADMIN">ADMIN</option>
              <option value="ROLE_SUPER">SUPER ADMIN</option>
            </select>
            <label>firstName</label>
            <input type="text" class="form-control" [(ngModel)]="interviewuser.firstName" name="firstName"
                   #firstName="ngModel"
                   maxlength=255 >
            <label>lastName</label>
            <input type="text" class="form-control" [(ngModel)]="interviewuser.lastName" name="lastName"
                   #lastName="ngModel"
                   maxlength=255 >
            <label>userName</label>
            <input type="text" class="form-control" [(ngModel)]="interviewuser.newUserName" name="userName"
                   #userName="ngModel"
                   maxlength=255 >
            <label>password</label>
            <input type="text" class="form-control" [(ngModel)]="interviewuser.password" name="password"
                   #password="ngModel"
                   maxlength=255 >
            <label>emailAddr</label>
            <input type="text" class="form-control" [(ngModel)]="interviewuser.emailAddr" name="emailAddr"
                   #emailAddr="ngModel"
                   maxlength=255 >
            <label>userActive</label>
            <div class="col col-sm-4">
              <select class="form-control border-info text-center"
                      [(ngModel)]="interviewuser.userActive"
                      required
                      name="userActive_dropdown">
                <option [value]="true">true</option>
                <option [value]="false">false</option>
              </select>
            </div>
            <label>userNotLocked</label>
            <div class="col col-sm-4">
              <select class="form-control border-info text-center"
                      [(ngModel)]="interviewuser.userNotLocked"
                      required
                      name="userNotLocked_dropdown">
                <option [value]="true">true</option>
                <option [value]="false">false</option>
              </select>
            </div>
            <!--<label>profileImage</label>
            <input type="text" class="form-control" [(ngModel)]="interviewuser.profileImage" name="profileImage" #profileImage="ngModel"
              maxlength=255
            >-->
          </div>
          <button *ngIf="addMode || editMode" [disabled]="InterviewUser.invalid" (click)="saveResults()"
                  class="btn btn-sm btn-success text-white m-3 p-3 ">{{this.saveChangesMsg}}</button>
          <button *ngIf="addMode || editMode" (click)="reload()"
                  class="btn btn-sm btn-danger text-white m-3 p-3">{{this.cancelMsg}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
</div>

