<div class="container-fluid border rounded" name="container2">
  <div class="row">
    <div class="col col-sm-4 mh-100">
    </div>
    <!-------------------------------------------- LEVELS ------------------------------------------------------------->
    <div class="col col-sm-4 mh-100">
      <div class="card bg-secondary border-info">
        <h2 class="text-center">Levels</h2>
      </div>
      <h4 *ngIf="!loadedLevel">Loading Levels...</h4>
      <div *ngIf="loadedLevel">
        <div class="card border-info">
          <form class="form-inline my-2 my-lg-0 justify-content-right">
            <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
                   (ngModelChange)="searchQuestionLevel(searchInput.value)"
                   type="search" placeholder="Search QuestionLevel...">
          </form>
        </div>
        <div class="card border-info"> <!-- table section -->
          <div class="card-body table-responsive">
            <table class="table-sm table-bordered table-hover rounded">
              <thead>
              <tr>
                <th>
                  <text class="text-size-10 p-3">Level</text>
                </th>
                <th *ngIf="isAdmin">
                  <text class="text-size-8 p-3">Edit Item</text>
                </th>
                <th *ngIf="isSuper">
                  <text class="text-size-8 p-3">Delete Item</text>
                </th>
              </tr>
              </thead>
              <tbody
                *ngFor="let dto of questionlevellist; let i = index">
              <tr class="a">
                <td [hidden]="alwaysHidden">{{ i + 1 }}</td>
                <td>
                  <text class="text-size-6">{{dto.questionLevelDesc}}</text>
                </td>
                <td *ngIf="isAdmin">
                  <button class="btn-edit" type="submit" [disabled]="addModeCategory || editModeCategory || addModeLevel || editModeLevel"
                          (click)="editLevelItem(i + (pl-1)*itemsPerPage)">
                    <span class="fas fa-edit" style="color:red"></span>
                  </button>
                </td>
                <td *ngIf="isSuper">
                  <button class="btn-edit" type="submit" [disabled]="addModeCategory || editModeCategory || addModeLevel || editModeLevel"
                          (click)="deleteLevelItem(i + (pl-1)*itemsPerPage)">
                    <span class="fas fa-trash" style="color:blue"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="isAdmin" class="card">
        <button *ngIf="!editModeLevel && !addModeLevel && !editModeCategory && !addModeCategory" (click)="initiateAddLevel()"
                class="btn btn-sm btn-block btn-primary text-white m-3 p-3 ">{{this.addbarmsgLevel}}</button>
        <div class="card card-body m-3" *ngIf="showQuestionLevelForm">
          <h2>{{this.formmsgLevel}}</h2>
          <form (submit)="onSubmit($event)" #QuestionLevel="ngForm">
            <div class="form-group">
              <label>Level Description</label>
              <input type="text" class="form-control" [(ngModel)]="questionlevel.questionLevelDesc"
                     name="questionLevelDesc" #questionLevelDesc="ngModel"
                     maxlength=100>
            </div>
            <button *ngIf="addModeLevel || editModeLevel" [disabled]="QuestionLevel.invalid"
                    (click)="saveResultsLevel()"
                    class="btn btn-sm btn-block btn-success text-white m-3 p-3 ">{{this.saveChangesMsg}}</button>
            <button *ngIf="addModeLevel || editModeLevel" (click)="reloadLevel()"
                    class="btn btn-sm btn-block btn-danger text-white m-3 p-3">{{this.cancelMsg}}</button>
          </form>
        </div>
      </div>
    </div>
    <!-------------------------------------------- CATEGORIES ------------------------------------------------------------->
    <div class="col col-sm-4 mh-100">
      <div class="card bg-secondary border-info">
        <h2 class="text-center">Categories</h2>
      </div>
      <h4 *ngIf="!loadedCategory">Loading Categories...</h4>
      <div *ngIf="loadedCategory">
        <!--<div class="row">--> <!-- m-3 float-right -->
        <div class="card border-info">
          <form class="form-inline my-2 my-lg-0 justify-content-right">
            <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
                   (ngModelChange)="searchQuestionCategory(searchInput.value)"
                   type="search" placeholder="Search QuestionCategory...">
          </form>
        </div>
        <!--</div>-->
        <div class="card border-info"> <!-- table section -->
          <div class="card-body table-responsive">
            <table class="table-sm table-bordered table-hover rounded">
              <thead>
              <tr>
                <th>
                  <text class="text-size-10 p-3">Category</text>
                </th>
                <th *ngIf="isAdmin">
                  <text class="text-size-8 p-3">Edit Item</text>
                </th>
                <th *ngIf="isSuper">
                  <text class="text-size-8 p-3">Delete Item</text>
                </th>
              </tr>
              </thead>
              <tbody
                *ngFor="let dto of questioncategorylist | paginate: { itemsPerPage: 10, currentPage: pc }; let i = index">
              <tr class="a">
                <td [hidden]="alwaysHidden">{{ i + 1 }}</td>
                <td>
                  <text class="text-size-6">{{dto.questionCategoryDesc}}</text>
                </td>
                <td *ngIf="isAdmin">
                  <button class="btn-edit" type="submit" [disabled]="addModeCategory || editModeCategory || addModeLevel || editModeLevel"
                          (click)="editCategoryItem(i + (pc-1)*itemsPerPage)">
                    <span class="fas fa-edit" style="color:red"></span>
                  </button>
                </td>
                <td *ngIf="isSuper">
                  <button class="btn-edit" type="submit" [disabled]="addModeCategory || editModeCategory || addModeLevel || editModeLevel"
                          (click)="deleteCategoryItem(i + (pc-1)*itemsPerPage)">
                    <span class="fas fa-trash" style="color:blue"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="card pagin">
              <div class="card-body" *ngIf="!paginationDisabledCategory">
                <pagination-controls (pageChange)="pc = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isAdmin" class="card">
        <button *ngIf="!editModeLevel && !addModeLevel && !editModeCategory && !addModeCategory" (click)="initiateAddCategory()"
                class="btn btn-sm btn-block btn-primary text-white m-3 p-3 ">{{this.addbarmsgCategory}}</button>
        <div class="card card-body m-3" *ngIf="showQuestionCategoryForm">
          <h2>{{this.formmsgCategory}}</h2>
          <form (submit)="onSubmit($event)" #QuestionCategory="ngForm">
            <div class="form-group">
              <label>Category Description</label>
              <input type="text" class="form-control" [(ngModel)]="questioncategory.questionCategoryDesc"
                     name="questionCategoryDesc" #questionCategoryDesc="ngModel"
                     maxlength=100>
            </div>
            <button *ngIf="addModeCategory || editModeCategory" [disabled]="QuestionCategory.invalid"
                    (click)="saveResultsCategory()"
                    class="btn btn-sm btn-block btn-success text-white m-3 p-3 ">{{this.saveChangesMsg}}</button>
            <button *ngIf="addModeCategory || editModeCategory" (click)="reloadCategory()"
                    class="btn btn-sm btn-block btn-danger text-white m-3 p-3">{{this.cancelMsg}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
