<nav class="navbar navbar-expand-sm navbar-dark bg-primary pt-4">
  <a href="/" class="navbar-brand text-white d-none d-md-block">Interview Question Generator</a>
  <a href="/" class="navbar-brand text-white d-md-none">IQG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayMainPage(); false">Return to Main Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayRegistration(); false">Register</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row pt-4 pb-2">
    <div class="col d-none d-md-block mb-2">
      <h1 class="text-center">Interview Questions Login</h1>
    </div>
    <div class="col d-sm-none mb-2">
      <h1 class="text-center">Login</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6">
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" class="mb-4">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text"><i class="far fa-user"></i></span>
            </div>
            <input type="text" class="form-control" name="userName" placeholder="Username" ngModel #usernameInput="ngModel" required>
          </div>
          <span class="help-block" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter a username</span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Password" ngModel #passwordInput="ngModel" required>
          </div>
          <span class="help-block" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password.</span>
        </div>
        <div class="form-group">
          <re-captcha
            (resolved)="resolved($event)"
            (error)="onError($event)"
            errorMode="handled"
            siteKey="6Ld5pAIbAAAAAEI4mYIibxu-VGnqLtMXikYkR7sc"
          ></re-captcha>
        </div>
        <div class="d-none d-md-block">
          <button type="submit" [disabled]="loginForm.invalid || showLoading || !recaptchaValid" name="button" class="btn btn-primary">
            <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="showLoading">Loading...</span>
            <span *ngIf="!showLoading">Login</span>
          </button>
        </div>
        <div class="d-sm-none">
          <button type="submit" [disabled]="loginForm.invalid || showLoading || !recaptchaValid" name="button" class="btn btn-block btn-primary">
            <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>
            <span *ngIf="showLoading">Loading...</span>
            <span *ngIf="!showLoading">Login</span>
          </button>
        </div>
      </form>
      <div class="text-center">
        Don't have an account? <a routerLink="/register" class="ml-2">Sign Up!</a>
      </div>
      <div class="text-center">
        <a class="nav-link" href="#" (click)="onForgotPassword(); false">Forgot Password?</a>
      </div>
      <div class="text-center">
        <a class="nav-link" href="#" (click)="onForgotUsername(); false">Forgot Username?</a>
      </div>
      <button [hidden]="true" type="button" id="openForgotPassword" data-toggle="modal" data-target="#forgotPasswordModal">
      </button>
      <button [hidden]="true" type="button" id="openForgotUsername" data-toggle="modal" data-target="#forgotUsernameModal">
      </button>
      <!-- forgot password -->
      <div class="modal draggable fade bd-example-modal-lg" id="forgotPasswordModal" tabindex="-1"
           role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Recover Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <form #forgotPasswordForm="ngForm">
                  <div *ngIf="forgotPasswordFormInitiated" class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" name="email" required
                           [(ngModel)]="email" class="form-control">
                  </div>
                  <div *ngIf="!forgotPasswordFormInitiated" class="">
                    {{resendResetPasswordMsg}}
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="resetPassword()" [disabled]="forgotPasswordForm.invalid" class="btn btn-primary">{{btnMsg}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- forgot username -->
      <div class="modal draggable fade bd-example-modal-lg" id="forgotUsernameModal" tabindex="-1"
           role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">{{recoverUsernameMsg}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <form #forgotUsernameForm="ngForm">
                  <div *ngIf="forgotUsernameFormInitiated" class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" name="email" required
                           [(ngModel)]="email" class="form-control">
                  </div>
                  <div *ngIf="!forgotUsernameFormInitiated" class="">
                    {{resendUsernameEmailMsg}}
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <div>{{didntGetEmailMsg}}</div>
              <button type="button" (click)="sendUsernameEmail()" [disabled]="forgotUsernameForm.invalid" class="btn btn-primary">{{btnMsg}}</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
