<nav class="navbar navbar-expand-sm navbar-dark bg-primary pt-4 mb-54">
  <a href="/" class="navbar-brand text-white d-none d-md-block">Interview Question Generator</a>
  <a href="/" class="navbar-brand text-white d-md-none">IQG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayLogin(); false">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayRegistration(); false">Register</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onLogOut(); false">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayAccountInfo(); false">Account Info</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" href="#" (click)="gotoAdminConsole(); false">Admin</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row mb-4">
    <div class="col d-none d-lg-block">
      <h1 class="mt-4">Welcome to the Interview Question Generator!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <form (submit)="onSubmit($event)" #Filter="ngForm" class="mb-4">
        <div class="form-group d-lg-none">
          <div class="d-flex justify-content-between">
            <select class="form-control custom-select"
              [(ngModel)]="filterCategoryValue"
              required
              name="questionCategoryId_dropdown">
              <option selected disabled>Category</option>
              <option *ngFor="let option of questioncategorylist" [value]="option.value">
                {{ option.viewValue }}
              </option>
            </select>
            <select class="form-control custom-select ml-3"
              [(ngModel)]="filterDifficultyValue"
              required
              name="questionLevelId_dropdown">
              <option  disabled selected>Difficulty</option>
              <option *ngFor="let option of questionlevellist" [value]="option.value">
                {{ option.viewValue }}
              </option>
            </select>
            <button (click)="showQuestion()" [disabled]="Filter.invalid" class="btn btn-primary btn-block ml-3">Start</button>
          </div>
        </div>
        <div class="form-group d-none d-lg-block">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                Select a Category and Difficulty
              </div>
              <div class="card-text">
                <div class="form-group">
                  <label for="questionCategoryId_dropdown">Category</label>
                  <select class="form-control custom-select"
                      [(ngModel)]="filterCategoryValue"
                      required
                      name="questionCategoryId_dropdown">
                    <option *ngFor="let option of questioncategorylist" [value]="option.value">
                      {{ option.viewValue }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="questionLevelId_dropdown">Difficulty</label>
                  <select class="form-control custom-select"
                      [(ngModel)]="filterDifficultyValue"
                      required
                      name="questionLevelId_dropdown">
                    <option *ngFor="let option of questionlevellist" [value]="option.value">
                      {{ option.viewValue }}
                    </option>
                  </select>
                </div>
                <button (click)="showQuestion()" [disabled]="Filter.invalid" class="btn btn-primary float-right">{{this.showQuestionsMsg}}</button>                
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-8">
      <div *ngIf="showQuestionMode">
        <div class="row">
          <div class="col">
            <button *ngIf="showQuestionMode&&!showAnswerMode" (click)="showAnswer()" class="btn btn-primary mb-3">{{this.showAnswerMsg}}</button>
            <button *ngIf="showAnswerMode" (click)="showNextQuestion()" class="btn btn-success mb-3">{{this.nextQuestionMsg}}</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="mb-4">{{questionItem.questionTxt}}</h3>
          </div>
        </div>
      </div>
      <div *ngIf="showAnswerMode" class="row">
        <div class="col">
          <div class="alert alert-info" role="alert">
            {{questionItem.answerTxt}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

