<nav class="navbar navbar-expand-sm navbar-dark bg-primary pt-4">
  <a href="/" class="navbar-brand text-white">Interview Question Generator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="!isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayLogin(); false">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayRegistration(); false">Register</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onLogOut(); false">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="displayAccountInfo(); false">Account Info</a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" href="#" (click)="gotoAdminConsole(); false">Admin</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Welcome to the Interview Question Generator!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <form (submit)="onSubmit($event)" #Filter="ngForm">
        <div class="form-group">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                Select a Category and Difficulty
              </div>
              <div class="card-text">
                <div class="form-group">
                  <label for="questionCategoryId_dropdown">Category</label>
                  <select class="form-control"
                      [(ngModel)]="filterCategoryValue"
                      required
                      name="questionCategoryId_dropdown">
                    <option *ngFor="let option of questioncategorylist" [value]="option.value">
                      {{ option.viewValue }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="questionLevelId_dropdown">Difficulty</label>
                  <select class="form-control"
                      [(ngModel)]="filterDifficultyValue"
                      required
                      name="questionLevelId_dropdown">
                    <option *ngFor="let option of questionlevellist" [value]="option.value">
                      {{ option.viewValue }}
                    </option>
                  </select>
                </div>                
              </div>
              <button (click)="showQuestion()" [disabled]="Filter.invalid" class="btn btn-primary float-right">{{this.showQuestionsMsg}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-8">
        <div *ngIf="showQuestionMode"class="row">
          <div class="col">
            <h3>{{questionItem.questionTxt}}</h3>
            <button *ngIf="showQuestionMode&&!showAnswerMode" (click)="showAnswer()" class="btn btn-primary my-3">{{this.showAnswerMsg}}</button>
          </div>
        </div>
        <div *ngIf="showAnswerMode" class="row">
          <div class="col">
            <button (click)="showNextQuestion()" class="btn btn-success my-3">{{this.nextQuestionMsg}}</button>
            <div class="alert alert-info" role="alert">
              {{questionItem.answerTxt}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

