<div class="container-fluid border rounded" name="container2">
  <div class="row">
    <div class="col col-sm-2 mh-100">
      <div class="card bg-secondary border-info">
        <h2 class="text-center">Filter</h2>
      </div>
      <form (submit)="onSubmit($event)" #Filter="ngForm">
        <div class="form-group">
          <label class="p-3">Category:</label>
          <div class="col col-sm-4">
            <select class="form-control border-info text-center" style="width: 250px;" [disabled]="addMode || editMode"
                    [(ngModel)]="filterCategoryValue"
                    required
                    name="questionCategoryId_dropdown">
              <option *ngFor="let option of questioncategorylist" [value]="option.value">
                {{ option.viewValue }}
              </option>
            </select>
          </div>
          <label class="p-3">Difficulty:</label>
          <div class="col col-sm-4">
            <select class="form-control border-info text-center" style="width: 250px;" [disabled]="addMode || editMode"
                    [(ngModel)]="filterDifficultyValue"
                    required
                    name="questionLevelId_dropdown">
              <option *ngFor="let option of questionlevellist" [value]="option.value">
                {{ option.viewValue }}
              </option>
            </select>
          </div>
        </div>
        <button (click)="filter()"
                [disabled]="addMode || editMode"
                class="btn btn-sm btn-block btn-success text-white m-3 p-3">{{this.filterMsg}}</button>
        <button (click)="resetFullList()"
                [disabled]="addMode || editMode"
                class="btn btn-sm btn-block btn-danger text-white m-3 p-3 ">{{this.resetToAllMsg}}</button>
      </form>
      <div class="card bg-white">
        <h3 class="text-center">Total Questions</h3>
        <h3 class="text-center">{{this.totalQuestions}}</h3>
      </div>

    </div>
    <div class="col col-sm-10 mh-100">
      <div class="card bg-secondary border-info">
        <h2 class="text-center">Questions and Answers</h2>
      </div>
      <h4 *ngIf="!loaded">Loading Question...</h4>
      <div *ngIf="loaded">
        <!--<div class="row">--> <!-- m-3 float-right -->
        <div class="card border-info">

          <form class="form-inline my-2 my-lg-0 justify-content-right">
            <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
                   (ngModelChange)="searchQuestion(searchInput.value)"
                   type="search" placeholder="Search Question...">
          </form>

        </div>
        <!--</div>-->
        <div class="card border-info"> <!-- table section -->
          <div class="card-body table-responsive">
            <table class="table-sm table-bordered table-hover rounded">
              <thead>
              <tr>
                <th style="width: 40%;">
                  <text class="text-size-10">Question</text>
                </th>
                <th>
                  <text class="text-size-10" style="width: 40%;">Answer</text>
                </th>
                <th *ngIf="isAdmin">
                  <text class="text-size-8"style="width: 10%;">Edit Item</text>
                </th>
                <th *ngIf="isSuper">
                  <text class="text-size-8" style="width: 10%;">Delete Item</text>
                </th>
              </tr>
              </thead>
              <tbody *ngFor="let dto of questionItemlist | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
              <tr class="a">
                <td [hidden]="alwaysHidden">{{ i + 1 }}</td>
                <td>
                  <text class="text-size-6" style="width: 40%;">{{dto.questionTxt}}</text>
                </td>
                <td>
                  <text class="text-size-6" style="width: 40%;">{{dto.answerTxt}}</text>
                </td>
                <td *ngIf="isAdmin">
                  <button class="btn-edit" type="submit" [disabled]="addMode || editMode"
                          (click)="editItem(i + (p-1)*itemsPerPage)">
                    <span class="fa fa-edit" style="color:red"></span>
                  </button>
                </td>
                <td *ngIf="isSuper">
                  <button class="btn-edit" type="submit" [disabled]="addMode || editMode"
                          (click)="deleteItem(i + (p-1)*itemsPerPage)">
                    <span class="fa fa-trash" style="color:blue"></span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <!-- https://www.npmjs.com/package/ngx-pagination -->
            <div class="card pagin">
              <div class="card-body" *ngIf="!paginationDisabled">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isAdmin" class="card">
        <button *ngIf="!editMode && !addMode" (click)="initiateAdd()"
                class="btn btn-sm btn-block btn-primary text-white m-3 p-3 ">{{this.addbarmsg}}</button>
        <div class="card card-body m-3" *ngIf="showQuestionForm">
          <h2>{{this.formmsg}}</h2>
          <form (submit)="onSubmit($event)" #Question="ngForm">
            <div class="form-group">
              <label>Category:</label>
              <div class="col col-sm-4">
                <select class="form-control border-info text-center"
                        [(ngModel)]="questionItem.questionCategoryId"
                        required
                        name="questionCategoryId_dropdown">
                  <option *ngFor="let option of questioncategorylist" [value]="option.value">
                    {{ option.viewValue }}
                  </option>
                </select>
              </div>
              <label>Difficulty:</label>
              <div class="col col-sm-4">
                <select class="form-control border-info text-center"
                        [(ngModel)]="questionItem.questionLevelId"
                        required
                        name="questionLevelId_dropdown">
                  <option *ngFor="let option of questionlevellist" [value]="option.value">
                    {{ option.viewValue }}
                  </option>
                </select>
              </div>
              <label>Question:</label>
              <input type="text" class="form-control" [(ngModel)]="questionItem.questionTxt" name="questionTxt"
                     #questionTxt="ngModel"
                     maxlength=256 >
              <label>Answer:</label>
              <input type="text" class="form-control" [(ngModel)]="questionItem.answerTxt" name="answerTxt"
                     #answerTxt="ngModel"
                     maxlength=256 >
            </div>
            <button *ngIf="addMode || editMode" [disabled]="Question.invalid" (click)="saveResults()"
                    class="btn btn-sm btn-block btn-success text-white m-3 p-3 ">{{this.saveChangesMsg}}</button>
            <button *ngIf="addMode || editMode" (click)="reload()"
                    class="btn btn-sm btn-block btn-danger text-white m-3 p-3 ">{{this.cancelMsg}}</button>
          </form>
        </div>
      </div>
    </div>
    <!--<div class="col col-sm-2 mh-100">

    </div>-->
  </div>
  <!-- <div class="row">
<div class="card card-body m-3">
  <form (submit)="onSubmit($event)">
<div class="form-group">
<label>questionCategoryId</label>
<input type="number" class="form-control" [(ngModel)]="question.questionCategoryId" name="questionCategoryId">
</div>
      <button (click)="findByQuestionCategoryId()" class="btn btn-sm btn-block btn-primary text-white m-3 p-3 ">findByQuestionCategoryId</button>
  </form>
</div><div class="card card-body m-3">
  <form (submit)="onSubmit($event)">
<div class="form-group">
<label>questionLevelId</label>
<input type="number" class="form-control" [(ngModel)]="question.questionLevelId" name="questionLevelId">
</div>
      <button (click)="findByQuestionLevelId()" class="btn btn-sm btn-block btn-primary text-white m-3 p-3 ">findByQuestionLevelId</button>
  </form>
</div><div class="card card-body m-3">
  <form (submit)="onSubmit($event)">
<div class="form-group">
<label>answerId</label>
<input type="number" class="form-control" [(ngModel)]="question.answerId" name="answerId">
</div>
      <button (click)="findByAnswerId()" class="btn btn-sm btn-block btn-primary text-white m-3 p-3 ">findByAnswerId</button>
  </form>
</div><div class="card card-body m-3">
  <form (submit)="onSubmit($event)">
<div class="form-group">
<label>questionCategoryId</label>
<input type="number" class="form-control" [(ngModel)]="question.questionCategoryId" name="questionCategoryId">
</div>
<div class="form-group">
<label>questionLevelId</label>
<input type="number" class="form-control" [(ngModel)]="question.questionLevelId" name="questionLevelId">
</div>
<div class="form-group">
<label>answerId</label>
<input type="number" class="form-control" [(ngModel)]="question.answerId" name="answerId">
</div>
      <button (click)="findByQuestionCategoryIdAndQuestionLevelIdAndAnswerId()" class="btn btn-sm btn-block btn-primary text-white m-3 p-3 ">findByQuestionCategoryIdAndQuestionLevelIdAndAnswerId</button>
  </form>
</div>	</div> -->
</div>
