<nav class="navbar navbar-dark bg-primary">
  <ul class="navbar-nav align-content-start">
    <li class="nav-item m-2">
      <a class="nav-link" href="#" (click)="emitFilter(0); false">ALL</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link" href="#" (click)="emitFilter(1); false">Users</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link" href="#" (click)="emitFilter(2); false">Admins</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link" href="#" (click)="emitFilter(3); false">Basic</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link" href="#" (click)="emitFilter(4); false">Adv</a>
    </li>
    <li class="nav-item m-2">
      <a class="nav-link" href="#" (click)="emitFilter(5); false">Prem</a>
    </li>
  </ul>
</nav>
